.skills {
    /* background-color: var(--dark); */
    background-color: var(--second-color);
    height: 100vh;
    padding: 5rem;
}
.skills__line {
    display: flex;
    height: 10rem;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.skills__line::-webkit-scrollbar {
    height: .3rem;
}
.skills__line::-webkit-scrollbar-thumb {
    background-color: var(--third-color);
    border-radius: 50%;
}
.skills__line::-webkit-scrollbar-track {
    background-color:transparent;
}

