.title__container {
    color: var(--third-color);
    padding-left: 1rem;
}
.title__bio {
    font-size: 2.5rem;
    margin-bottom: 0;
}
.title__bio span {
    color: var(--second-color);
    font-size: 3rem;
}
.title__subsection {
    font-size: 2rem;
    margin: 0;
    padding-top: 2rem;  
}

@media (min-width: 425px) {
    .title__bio {
        font-size: 1.5rem;
    }
    .title__bio span {
        font-size: 2rem;
    }
    .title__container {
        display: flex;
        flex-direction: column;
        line-height: 2rem;
       
    }
    .title__subsection {
        font-size: 1rem;
    }
}