.hobbies{
    height: 100vh;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hobbies__line{
    display: flex;
    height: 10rem;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}
.hobbies__line::-webkit-scrollbar {
    height: .3rem;
}
.hobbies__line::-webkit-scrollbar-thumb {
    background-color: var(--third-color);
    border-radius: 50%;
}
.hobbies__line::-webkit-scrollbar-track {
    background-color:transparent;
}