.formcontato{
    background-color: var(--second-color);
}
.formcontato__contacto {
    display: flex;
    padding: 5rem;
}
.formcontato__title{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0;
}
.formcontato__text{
    padding-left: 1rem;
}

