.experiencie__box{
    display:flex;
    padding-left: 5rem; 
}
.experiencie__box:nth-child(odd)  {
    flex-direction: row-reverse;
    padding-left: 0;
    padding-right: 5rem;
}
.experience__img {
    height: auto;
    margin-bottom:1rem;
    width: 50rem;
}
.experience__info {
    align-self: center;
    padding: 1.5rem;    
}

@media (min-width: 425px) {
    .experiencie__box,
    .experiencie__box:nth-child(odd) {
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
    }
    .experience__img {
        height: auto;
        margin-bottom:1rem;
        width: 100%;
    }
    .experience__info {
        align-self: center;
        padding: 1.5rem;    
    }
    
}